@media (width < 1250px) {
  .root-container {
    width: 90%;
  }
  body {
    font-size: 4vmin;
  }
}

@media (width >= 1250px) {
  .root-container {
    width: 800px;
    padding: 0 5%;
  }
  body {
    font-size: 2vmin;
  }
}

@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

html {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #2b2b2b;
  color: #e6e6e6;
}

body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: RobotoMono;
}

.root-container {
}

.top-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.top-banner-title {
  font-size: 160%;
  font-weight: 800;
}

.top-banner-actions {
  font-size: 160%;
  font-weight: 800;
}

.action-button {
  color: #e6e6e6;
  text-decoration: none;
}

.action-button a:hover {
  font-weight: lighter;
}

.action-button a:active {
  font-weight: bold;
}

.card {
  border: 1px solid rgb(73, 73, 73);
  margin-bottom: 1em;
  border-radius: 5px;
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card .card-header {
  color: rgba(228, 228, 228, 0.893);
  background-color: rgb(18, 18, 18);
  padding: 0.7em 1em;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 120%;
}

.card .header-title {
  font-weight: normal;
}

.card .card-header .header-icon {
}

i.active {
  color: rgb(0, 193, 0);
  margin-left: 0.6em;
}

i.inactive {
  --color: gray;
  margin-left: 0.6em;
}

.card .card-content {
  color: rgba(187, 187, 187, 0.893);
  background-color: rgba(255, 255, 255, 0.121);
  vertical-align: middle;
  padding: 0.7em 1em;
  border-radius: 0 0 5px 5px;
  font-weight: lighter;
}

.card .card-content .actions {
  margin-top: 1em;
}

.card .card-content .actions a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.543);
  padding: 0.2em 1.2em;
  background-color: rgba(255, 255, 255, 0.218);
}

.card .card-content .actions a:hover {
  text-decoration: none;
  padding: 0.2em 1.2em;
  background-color: rgba(255, 255, 255, 0.545);
}

.card .card-content .actions a:active {
  text-decoration: none;
  padding: 0.2em 1.2em;
  color: rgba(255, 255, 255, 0.543);
  background-color: rgba(16, 16, 16, 0.545);
}
