<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'; style-src * 'nonce-CSPIsNull'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'; style-src * 'nonce-CSPIsNull'"
    />
     <style nonce="CSPIsNull">
      
      @font-face {
        font-family: 'Montserrat';
        src: url('static/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
      }

      html {
        xheight: 100%;
        xwidth: 100%;
        xpadding: 0px;
        xmargin: 0px;
        background-color: #006769; 
        color: #E6FF94;
      }

      body {
        xheight: 100%;
        xwidth: 100%;
        xpadding: 0px;
        xmargin: 0px;
        font-family: Montserrat;

      }



    </style>
    <title>Hello QADR!</title>
  </head>
<body>

    {{{body}}}

</body>
</html>