<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[Q]ADR Remote</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link href="fontawesome/css/fontawesome.css" rel="stylesheet" />
  <link href="fontawesome/css/brands.css" rel="stylesheet" />
  <link href="fontawesome/css/solid.css" rel="stylesheet" />
</head>
<body>
  <div class="root-container">
    <div class="top-banner">
      <span class="top-banner-title">[Q]ADR Remote</span>
      <span class="top-banner-actions">
        <a class="action-button" href="#" id="btnSwitchFullScreen"><i class="fa-solid fa-compress"></i></a>
      </span>
    </div>
    
    {{{body}}}

    <script src="js/main.js"></script>
  </div>
</body>
</html>