<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>[Q]ADR Remote</title>
    <link rel="stylesheet" href="static/css/style.css"/>
    <link href="static/fontawesome/css/fontawesome.css" rel="stylesheet" />
  <link href="static/fontawesome/css/brands.css" rel="stylesheet" />
  <link href="static/fontawesome/css/solid.css" rel="stylesheet" />
</head>
<body>
  <div class="root-container">
    <h1>[Q]ADR Remote</h1>
    {{{body}}}
  </div>
</body>
</html>