<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'; style-src * 'nonce-CSPIsNull'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'; style-src * 'nonce-CSPIsNull'"
    />
    <link rel="stylesheet" href="static/css/style.css">
     <style nonce="CSPIsNull">
      
      @font-face {
        font-family: 'Montserrat';
        src: url('static/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
      }

      html {
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 0px;
        background-color: #006769; 
        color: #E6FF94;
      }

      body {
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 0px;
        display : flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: Montserrat;
      }
    </style>
    <title>QADR Remote</title>
  </head>
<body>
<h1>QADR Remote</h1>
{{{body}}}
</body>
</html>