<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>[Q]ADR Remote</title>
    <link rel="stylesheet" href="static/css/style.css"/>
    <link href="static/fontawesome/css/fontawesome.css" rel="stylesheet" />
  <link href="static/fontawesome/css/brands.css" rel="stylesheet" />
  <link href="static/fontawesome/css/solid.css" rel="stylesheet" />
</head>
<body>
  <div class="root-container">
    <div class="top-banner">
      <span class="top-banner-title">[Q]ADR Remote</span><span class="top-banner-actions"><i class="fa-solid fa-gear"></i></span>
    </div>
    
    {{{body}}}
  </div>
</body>
</html>