
<h2>Sketchs</h2>

{{#each models.sketchs}}
    <button class="skecth-button">{{this}}</button>
{{/each}}

<button>Fullscreen</button>

{{!-- <ul>
{{#each models.sketchs}}
    <li>{{this}}</li>
{{/each}}
</ul> --}}

